<div class="jumbotron hamfix">
    <img src="http://i.imgur.com/z47Aatz.jpg">
    <% count = 0 %>
  <% for event in @events %>
    <% count += 1 %>
  <% end %>
  
    <h1 class="hfix">Local Opportunities (<%= count %>)</h1>

</div>

      <div>
        <% @opportunities.each do |opportunity| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="<%= opportunity.image %>">
                <div class="caption">
                  <h3><%= opportunity.name %></h3>

                  <% count = 0 %>
                  <% opportunity.events.each do |event| %>
                    <% count += 1 %>
                    <% end %>
                    <td><%= count %> listing(s) nearby</td>


                  <p><%= link_to 'Learn More', opportunity, class:"btn btn-primary pull-right" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    
      